.center.jumbotron
  %h1 Welcome to Chat App
  %h2
    This is the home page for the training.
  = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary"
  = link_to "Login now!", new_user_session_path, class: "btn btn-lg btn-warning"